/* You can add global styles to this file, and also import other style files */
body{
      background-color: rgb(239, 245, 255);
}
@font-face {
  font-family: 'persian';
  src: url('/fonts/persian.woff2');
}