/* You can add global styles to this file, and also import other style files */
body{
      background-color: rgb(239, 245, 255);
}
@font-face {
  font-family: 'persian';
  src: url('/fonts/persian.woff2');
}
.alert{
  background-color: lightcoral;
  border: 1px solid lightcoral;
  padding: 1em;
  border-radius: 0.2em;
  margin: 1em;
  text-align: center;
}